.post {
  margin: 1rem 0;
  border: 1px solid #3b0062;
  border-radius: 5px;
  padding: 0.5rem;
}

.post__meta {
  font-size: 1rem;
  color: #707070;
  margin: 0;
}

.post__title {
  font-size: 1.4rem;
  margin: 1rem 0;
  color: #3b0062;
}

.post__title a {
  font-size: large;
}

.post__title span {
  font-size: small;
  font-weight: bolder;
  background-color: #3b0062;
  color: white;
  word-wrap: break-word;
}

.post__url a {
  font-size: large;
  background-color: white;
  color: #3b0062;
}


@media (min-width: 768px) {
  .post {
    padding: 1rem;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}
